body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
}

.bg {
  background-image: url("../img/bg/bg_articulo.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  color: white;
}

header {
  color: white;
}

footer {
  color: white;
}

.accordion-body {
  color: black;
}
