body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
}

.bg {
  background-image: url("../img/bg/bg_carrito.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #252570;
}

h4 {
  font-size: 20px;
  font-weight: bolder;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
}

.contenido {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 30px;
  border-collapse: separate;
}

.cabecera1 {
  position: relative;
  background-color: #72a5f7;
  color: white;
  text-align: center;
  width: 400px;
  margin: auto;
  border: 5px solid mediumaquamarine;
  padding: 10px;
  border-radius: 10px;
}

.cabecera2 {
  position: relative;
  background-color: #72a5f7;
  color: white;
  text-align: center;
  width: 750px;
  margin: auto;
  border: 5px solid mediumaquamarine;
  padding: 10px;
  border-radius: 10px;
}

.cuadro1 {
  position: relative;
  background-color: #cce9ff;
  width: 400px;
  margin: auto;
  border: 5px solid mediumaquamarine;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.cuadro2 {
  position: relative;
  background-color: #cce9ff;
  width: 750px;
  margin: auto;
  border: 5px solid mediumaquamarine;
  padding: 10px;
  border-radius: 10px;
}

.preciofinal {
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.filtro {
  font-size: 15px;
}

.separafiltro {
  padding-left: 10px;
  padding-right: 10px;
}

.separapagina {
  padding-right: 10px;
}
