body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

.contenido-pagina {
  position: relative;
  min-height: 100vh;
}

.bg {
  background-image: url("../img/bg/bg_faq.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50%;
}

h2 {
  background-color: #72a5f7;
  height: 30px;
  padding: 10px;
  color: white;
  font-weight: bolder;
  border-radius: 6px 6px 0px 0px;
  text-align: center;
  position: relative;
  top: -20px;
}

h4 {
  background-color: #88e3fc;
  font-weight: bold;
  border-radius: 13px 13px 0px 0px;
  border: 15px solid #88e3fc;
  font-style: italic;
  font-size: 20px;
  position: relative;
  top: -26px;
}

.cuadro {
  position: relative;
  top: 50px;
  background-color: #cce9ff;
  margin: auto;
  width: 850px;
  height: 680px;
  border: 5px solid mediumaquamarine;
  border-radius: 10px;
}

.pregunta {
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  height: 120px;
}

.respuesta {
  margin: 15px;
  position: relative;
  top: -35px;
}

header {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: #252570;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.volverdiv {
  text-align: center;
  position: relative;
  top: 100px;
}

.volver {
  background-color: #629dfc;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-weight: bold;
  color: white;
}

.volver:hover {
  background-color: #1f75ff;
}

@media screen and (max-width: 900px) {
  .bg {
    padding-bottom: 70%;
  }

  .cuadro {
    width: 400px;
    height: 980px;
  }

  .pregunta {
    height: 200px;
  }
}
