body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

object {
  filter: brightness(0) invert(1);
}

.bienvenida {
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
}

.logo {
  transition: width 0.15s, height 0.15s;
  animation-name: logo;
  animation-duration: 1s;
}

@keyframes logo {
  from {width: 0px; height: 0px;}
  to {width: 70px; height: 70px;}
}

.logo:hover {
  width: 80px;
  height: 80px;
}

.contenido-pagina {
  position: relative;
  min-height: 100vh;
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: opacity(0.75);
}

.bg {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 57%;
}

div {
  color: white;
}

footer {
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: #252570;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

h1 {
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
}

h3, p {
  position: relative;
  top: 100px;
  text-align: center;
}

#tienda {
  position: relative;
  top: 120px;
  text-align: center;
}

#tienda input {
  background-color: #73a4fa;
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: width 0.15s, font-size 0.15s;
}

#tienda input:hover {
  background-color: #3377ff;
  width: 350px;
  font-size: 15px;
}

#loginregister {
  position: relative;
  top: 170px;
  margin-left: auto;
  margin-right: auto;
}

#loginregister tr td {
  padding-left: 50px;
  padding-right: 50px;
}

#loginregister input {
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: blue;
  font-weight: bold;
  transition: width 0.15s, font-size 0.15s;
}

#loginregister input:hover {
  background-color: lightgray;
  width: 350px;
  font-size: 15px;
}

@media screen and (max-width: 830px) {
  h1 {
    font-size: 50px;
  }

  p {
    padding: 20px;
    font-weight: bold;
  }

  td {
    display: block;
    padding: 15px;
  }

  .bg {
    padding-bottom: 70%;
  }
}
