body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
}

.bg {
  background-image: url("../img/bg/bg_index.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  color: white;
}

header {
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  color: white;
  text-align: center;
  padding: 20px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

h1 {
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 75px;
  font-weight: bolder;
}

h3, p {
  position: relative;
  top: 100px;
  text-align: center;
}

#tienda {
  position: relative;
  top: 120px;
  text-align: center;
}

#tienda input {
  background-color: #73a4fa;
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#loginregister {
  position: relative;
  top: 170px;
  text-align: center;
}

#loginregister input {
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 5px;
  color: blue;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  p {
    padding: 20px;
    font-weight: bold;
  }
}