body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
}

.bg {
  background-image: url("../img/bg/bg_login.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  color: white;
}

header {
  color: white;
  padding: 20px;
}

footer {
  color: white;
  text-align: center;
  padding: 20px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}
