body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

.logo_bw {
  transition: width 0.15s, height 0.15s;
  animation-name: logo;
  animation-duration: 1s;
}

@keyframes logo {
  from {width: 0px; height: 0px;}
  to {width: 70px; height: 70px;}
}

.logo_bw:hover {
  width: 80px;
  height: 80px;
}

.contenido-pagina {
  position: relative;
  min-height: 100vh;
}

.bg {
  background-image: url("../img/bg/bg_register.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 70%;
}

.cuadro {
  position: relative;
  top: 100px;
  text-align: center;
  background-color: #cce9ff;
  margin: auto;
  width: 1000px;
  height: 580px;
  border: 5px solid mediumaquamarine;
  border-radius: 10px;
}

h2 {
  background-color: #72a5f7;
  height: 30px;
  padding: 10px;
  color: white;
  font-weight: bolder;
  border-radius: 6px 6px 0px 0px;
  position: relative;
  top: -20px;
}

.login {
  text-align: center;
  left: 0px;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.login:hover {
  color: red;
}

.tabla {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  color: white;
  text-align: center;
  padding-top: 30px;
  background-color: #252570;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.entrar {
  background-color: #1f75ff;
  color: white;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.entrar:hover {
  background-color: blue;
}

.google {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 13px;
}

.google:hover {
  background-color: lightgray;
}

.logo {
  position: relative;
  top: -40px;
  left: 230px;
}

.volverdiv {
  text-align: center;
  position: relative;
  top: 50px;
}

.volver {
  background-color: #629dfc;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-weight: bold;
  color: white;
  transition: width 0.15s, font-size 0.15s;
}

.volver:hover {
  background-color: #1f75ff;
  width: 270px;
  font-size: 15px;
}

.textocheck {
  font-size: 12px;
}

#nombre {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

#apellidos {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

#mail {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

#contra {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

#repite {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

#direccion {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

#telefono {
  border-radius: 3px;
  border: 1px solid black;
  height: 30px;
}

@media screen and (max-width: 1050px) {
  .cuadro {
    width: 450px;
    height: 1180px;
  }

  td {
    display: block;
    padding: 15px;
  }

  .bg {
    padding-bottom: 80%;
  }

  .login {
    padding-left: 20px;
    padding-right: 20px;
  }

  #mail {
    width: 270px;
  }

  .logo {
    top: -53px;
    left: -28px;
  }
}
