body,
html {
  height: 100%;
  margin: 0;
  background-color: #212121;
}

.bg {
  background-image: url("../img/bg/bg_register.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cuadro {
  position: relative;
  top: 100px;
  text-align: center;
  background-color: #cce9ff;
  margin: auto;
  width: 1000px;
  height: 580px;
  border: 5px solid mediumaquamarine;
  border-radius: 10px;
}

h2 {
  background-color: #72a5f7;
  height: 60px;
  padding: 10px;
  color: white;
  font-weight: bolder;
  border-radius: 6px 6px 0px 0px;
}

.login {
  text-align: center;
  left: 0px;
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

.login:hover {
  color: red;
}

.tabla {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
}

header {
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  color: white;
  text-align: center;
  padding: 20px;
  background-color: #252570;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.entrar {
  background-color: #1f75ff;
  color: white;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

.entrar:hover {
  background-color: blue;
}

.google {
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 13px;
}

.google:hover {
  background-color: lightgray;
}

.logo {
  position: relative;
  top: -42px;
  left: 223px;
}

.volverdiv {
  text-align: center;
  position: relative;
  top: 50px;
}

.volver {
  background-color: #629dfc;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  font-weight: bold;
  color: white;
}

.volver:hover {
  background-color: #1f75ff;
}

.textocheck {
  font-size: 12px;
}

#nombre {
  border-radius: 3px;
  border: 1px solid black;
}

#apellidos {
  border-radius: 3px;
  border: 1px solid black;
}

#contra {
  border-radius: 3px;
  border: 1px solid black;
}

#repite {
  border-radius: 3px;
  border: 1px solid black;
}

#direccion {
  border-radius: 3px;
  border: 1px solid black;
}

#telefono {
  border-radius: 3px;
  border: 1px solid black;
}
